.App {
  text-align: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.genInfo,
.edInfo,
.pacInfo,
.geninfo-container,
.edinfo-container,
.pacinfo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.geninfo-container,
.edinfo-container,
.pacinfo-container {
  margin: 1.5rem;
}

.submitBtn {
  margin: 1rem;
}

.formContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20rem;
}

.descriptionResults {
  text-align: justify;
  width: 30rem;
  word-wrap: break-all;
}